<h1>All o' the restaurants</h1>
<table id="restaurant">
	<th>Name</th>
	<th>Description</th>
	<th>Address</th>
	<th>Phone</th>
<% @restaurant.each do |r| %>
<tr>
	<td><%= r.name %></td>
	<td><%= r.description %></td>
	<td><%= r.address %></td>
	<td><%= r.phone %></td>
<% end %>